@font-face {
    font-family: 'font';
    src: url('/fonts/MonaSpace/MonaspaceArgon-Regular.woff') format('woff');
    font-feature-setting:'cv06','cv14','cv16','cv27','cv29','cv31','cv32','ss01','ss02','ss04','ss06','ss07','ss09'!important;
}

@font-face {
    font-family: 'font-secondary';
    src: url('/fonts/BO CD Mono Light.otf') format('opentype');
}

:root {
    --bg-primary: #e5eaed;
    --bg-secondary: #d3dbd8;  
    --text-primary: #2a4741;
    --text-muted: #607d87;
    
    --accent-primary: #00aeff;
    --accent-secondary: #40a088;
    --accent-tertiary:  	#bd00ff;
    --accent-highlight: #18635d13;
    --accent-highlight-text: #0b0f12;
    --border-color: #b8c7c5;

    /* Fonts */
    --font-main: 'font';
    --font-header: 'font-secondary';

    /* Sizing */
    --font-size: 14px;
    --width-sidebar: 240px;
    --medium: 2rem;
}