<nav class="nav-container">
  <a href="{{ get_url(path="/") }}">layer:00/ego</a>
  {% set root = get_section(path="_index.md") %}
  {% if root.subsections %}
    {% set subsections = [] %}
    {% for subsection_path in root.subsections %}
      {% set subsection = get_section(path=subsection_path) %}
      <!-- Create an array of subsections -->
      {% set_global subsections = subsections | concat(with=[subsection]) %}
    {% endfor %}

    <!-- Sort by weight -->
    {% for subsection in subsections | sort(attribute="extra.weight") %}
      <a href="{{ subsection.permalink }}">{{ subsection.title }}</a>
    {% endfor %}
  {% endif %}

  {% if section.pages %}
  <div class="nav-local-index">
    <p>local index</p>
    {% set use_header_navigation = false %}

    {% if section.extra and section.extra.headerNavigation %}
      {% set use_header_navigation = true %}
    {% endif %}

    {% for page in section.pages | sort(attribute="date") | reverse %}
      {% if use_header_navigation %}
        <a href="{{ section.permalink }}#{{ page.slug }}" class="nav-article">{{ page.title }}</a>
      {% else %}
        <a href="{{ page.permalink }}" class="nav-article">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  <div>
    <img src="/images/lowry.png" style="padding-bottom: 10px">
    <a href="https://lainchan.org/" style="padding: 0">
      <img src="/images/proxy-image.gif">
    </a>
  </div>
</nav>
