@font-face {
    font-family: 'font';
    src: url('/fonts/MonaSpace/MonaspaceArgon-Regular.woff') format('woff');
    font-feature-setting:'cv06','cv14','cv16','cv27','cv29','cv31','cv32','ss01','ss02','ss04','ss06','ss07','ss09'!important;
}

@font-face {
    font-family: 'font-secondary';
    src: url('/fonts/BO CD Mono Light.otf') format('opentype');
}

:root {
    --bg-primary: #0b0f12;
    --bg-secondary: #131a1a;
    
    --text-primary: #c7e6d7;
    --text-muted: #7a8a94;
    --text-header: hsl(30.2, 49.8%, 50%);
    
    --accent-primary: #ff6699;
    --accent-secondary: #40a088;
    --accent-highlight: #18635d21;
    --accent-highlight-text: #e8f5f0;
    
    --border-color: #283535;

    /* Fonts */
    --font-main: 'font';
    --font-header: 'font-secondary';
    /* Sizing */
    --font-size: 14px;
    --width-sidebar: 240px;
    --medium: 2rem;
}
